<div class="form-group">
  <label for="title">Title</label>
  <input
    required
    value="<%= blog.title %>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
  <div class="form-group">
    <label for="short_desc">Short Description</label>
    <input
      value="<%= blog.short_desc %>"
      required
      type="text"
      name="short_desc"
      id="short_desc"
      class="form-control"
    />
  </div>
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea required name="description" id="description" class="form-control">
<%= blog.description %></textarea
  >
</div>
<a href="/" class="btn btn-danger">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>
